In [1]:
import pandas as pd 
import numpy as np
import unicodedata
from typing import List, Optional, Dict, Any, Iterable
import matplotlib.pyplot as plt
from datetime import datetime
import re

In [2]:
# -----------------------------------------
# Path's and filenames and constants
# -----------------------------------------

path = './data'
filenameUTB = 'Base de datos Scopus.xlsx'
filenameScopus = 'scopus-2.csv'
filenameScimago = 'scimagojr2024.csv'
YEAR = datetime.now().year

In [43]:
# -----------------------------------------
# Upload UTB Researchers data 
# -----------------------------------------

dataUTB = pd.read_excel(f'{path}/{filenameUTB}')
dataUTB = dataUTB.rename(columns = {'ID SCOPUS': "Autor ID"})
dataUTB["Autor ID"] = dataUTB["Autor ID"].astype(str)

In [44]:
# -----------------------------------------
# Generate Query for Scopus API
# -----------------------------------------

def generate_query(code: str, id: str):
    """
    Builds a query string by combining a search code and its value.

    The output follows the typical format used in structured queries,
    where the code is followed by the value enclosed in parentheses.

    Args:
        code (str): The search field or reference key.
        id (str): The numeric or alphanumeric value linked to the code.

    Returns:
        str: A query string ready to be used in a search request.
    """
    query = [f'{code} ( {_} )' for _ in id]
    return ' OR '.join(query)

query = generate_query('AU-ID', dataUTB["Autor ID"].tolist())
print(query)

AU-ID ( 57156565000 ) OR AU-ID ( 14622047600 ) OR AU-ID ( 24329839300 ) OR AU-ID ( 57194034904 ) OR AU-ID ( 57193533853 ) OR AU-ID ( 24537991200 ) OR AU-ID ( 36142156300 ) OR AU-ID ( 57039103600 ) OR AU-ID ( 56674579200 ) OR AU-ID ( 57210822856 ) OR AU-ID ( 57191333650 ) OR AU-ID ( 7005142049 ) OR AU-ID ( 57193012270 ) OR AU-ID ( 55649334800 ) OR AU-ID ( 26325154200 ) OR AU-ID ( 55872162200 ) OR AU-ID ( 35788581800 ) OR AU-ID ( 57024211000 ) OR AU-ID ( 56801043600 ) OR AU-ID ( 56380539800 ) OR AU-ID ( 57188841051 ) OR AU-ID ( 57202285682 ) OR AU-ID ( 57350116000 ) OR AU-ID ( 58525252300 ) OR AU-ID ( 57192930752 ) OR AU-ID ( 57200615582 ) OR AU-ID ( 58660078000 ) OR AU-ID ( 57190688459 ) OR AU-ID ( 57208719994 ) OR AU-ID ( 55258973100 ) OR AU-ID ( 57203321995 ) OR AU-ID ( 57220927199 ) OR AU-ID ( 57193252278 ) OR AU-ID ( 57322375300 ) OR AU-ID ( 57205400052 ) OR AU-ID ( 57758796500 ) OR AU-ID ( 56581610900 ) OR AU-ID ( 57392556500 ) OR AU-ID ( 56682785300 ) OR AU-ID ( 57219403758 ) OR AU-ID ( 57197327858 ) OR AU-ID ( 57196040759 ) OR AU-ID ( 57220077867 ) OR AU-ID ( 57750422100 ) OR AU-ID ( 57223851529 ) OR AU-ID ( 57189892062 ) OR AU-ID ( 57205658483 ) OR AU-ID ( 58068307100 ) OR AU-ID ( 57197807415 ) OR AU-ID ( 57918628600 ) OR AU-ID ( 57222278899 ) OR AU-ID ( 7195913974 ) OR AU-ID ( 57218294431 ) OR AU-ID ( 57206773929 ) OR AU-ID ( 58068069000 ) OR AU-ID ( 57216868622 ) OR AU-ID ( 57930663300 ) OR AU-ID ( 58523557700 ) OR AU-ID ( 57204842254 ) OR AU-ID ( 58618811100 ) OR AU-ID ( 57201036449 ) OR AU-ID ( 57209248085 ) OR AU-ID ( 57212006168 ) OR AU-ID ( 57427876200 ) OR AU-ID ( 57204847841 ) OR AU-ID ( 57195913859 ) OR AU-ID ( 57218297655 ) OR AU-ID ( 57222223605 ) OR AU-ID ( 57221229836 ) OR AU-ID ( 58803522300 ) OR AU-ID ( 55783129400 ) OR AU-ID ( 57903699900 ) OR AU-ID ( 58954857900 ) OR AU-ID ( 57202159706 ) OR AU-ID ( 57219626251 ) OR AU-ID ( 57215557867 ) OR AU-ID ( 57219506381 ) OR AU-ID ( 58134344400 ) OR AU-ID ( 58917134900 ) OR AU-ID ( 58153979500 ) OR AU-ID ( 58868256900 ) OR AU-ID ( 57918232800 ) OR AU-ID ( 59987226300 )

## __Copiar y pegar — Búsqueda completa en Scopus (Advanced Search)__

1. Abre **Advanced Search** en Scopus: <https://www.scopus.com/search/form.uri?display=advanced>  
2. Copia y pega **tal cual** el bloque de consulta de abajo.  
3. Ejecuta la búsqueda.

---

### __Consulta base__

Incluye el **AF-ID** de la institución y todos los **AU-ID** de los autores asociados.  
Recuerda mantener los paréntesis y los operadores lógicos en mayúscula.

```text
(
  AF-ID ( 60103889 )
  OR AU-ID ( 57156565000 ) OR AU-ID ( 14622047600 ) OR AU-ID ( 24329839300 ) OR AU-ID ( 57194034904 ) OR AU-ID ( 57193533853 ) OR AU-ID ( 24537991200 ) OR AU-ID ( 36142156300 ) OR AU-ID ( 57039103600 ) OR AU-ID ( 56674579200 ) OR AU-ID ( 57210822856 ) OR AU-ID ( 57191333650 ) OR AU-ID ( 7005142049 ) OR AU-ID ( 57193012270 ) OR AU-ID ( 55649334800 ) OR AU-ID ( 26325154200 ) OR AU-ID ( 55872162200 ) OR AU-ID ( 35788581800 ) OR AU-ID ( 57024211000 ) OR AU-ID ( 56801043600 ) OR AU-ID ( 56380539800 ) OR AU-ID ( 57188841051 ) OR AU-ID ( 57202285682 ) OR AU-ID ( 57350116000 ) OR AU-ID ( 58525252300 ) OR AU-ID ( 57192930752 ) OR AU-ID ( 57200615582 ) OR AU-ID ( 58660078000 ) OR AU-ID ( 57190688459 ) OR AU-ID ( 57208719994 ) OR AU-ID ( 55258973100 ) OR AU-ID ( 57203321995 ) OR AU-ID ( 57220927199 ) OR AU-ID ( 57193252278 ) OR AU-ID ( 57322375300 ) OR AU-ID ( 57205400052 ) OR AU-ID ( 57758796500 ) OR AU-ID ( 56581610900 ) OR AU-ID ( 57392556500 ) OR AU-ID ( 56682785300 ) OR AU-ID ( 57219403758 ) OR AU-ID ( 57197327858 ) OR AU-ID ( 57196040759 ) OR AU-ID ( 57220077867 ) OR AU-ID ( 57750422100 ) OR AU-ID ( 57223851529 ) OR AU-ID ( 57189892062 ) OR AU-ID ( 57205658483 ) OR AU-ID ( 58068307100 ) OR AU-ID ( 57197807415 ) OR AU-ID ( 57918628600 ) OR AU-ID ( 57222278899 ) OR AU-ID ( 7195913974 ) OR AU-ID ( 57218294431 ) OR AU-ID ( 57206773929 ) OR AU-ID ( 58068069000 ) OR AU-ID ( 57216868622 ) OR AU-ID ( 57930663300 ) OR AU-ID ( 58523557700 ) OR AU-ID ( 57204842254 ) OR AU-ID ( 58618811100 ) OR AU-ID ( 57201036449 ) OR AU-ID ( 57209248085 ) OR AU-ID ( 57212006168 ) OR AU-ID ( 57427876200 ) OR AU-ID ( 57204847841 ) OR AU-ID ( 57195913859 ) OR AU-ID ( 57218297655 ) OR AU-ID ( 57222223605 ) OR AU-ID ( 57221229836 ) OR AU-ID ( 58803522300 ) OR AU-ID ( 55783129400 ) OR AU-ID ( 57903699900 ) OR AU-ID ( 58954857900 ) OR AU-ID ( 57202159706 ) OR AU-ID ( 57219626251 ) OR AU-ID ( 57215557867 ) OR AU-ID ( 57219506381 ) OR AU-ID ( 58134344400 ) OR AU-ID ( 58917134900 ) OR AU-ID ( 58153979500 ) OR AU-ID ( 58868256900 ) OR AU-ID ( 57918232800 ) OR AU-ID ( 59987226300 )
)
```

In [45]:
# -----------------------------------------
# Upload Scopus Publications data
# -----------------------------------------

dataScopus = pd.read_csv(f'{path}/{filenameScopus}')
dataScopus

,Authors,Author full names,Author(s) ID,Title,Year,Source title,Volume,Issue,Art. No.,Page start,Page end,Page count,Cited by,DOI,Link,Document Type,Publication Stage,Open Access,Source,EID
0,Herrera-Acevedo D.D.; Sierra-Porta D.,"Herrera-Acevedo, D.D. (59278790000); Sierra-Po...",59278790000; 57191333650,Network structure and urban mobility sustainab...,2025,Sustainable Cities and Society,119,NaN,106076,NaN,NaN,NaN,3,10.1016/j.scs.2024.106076,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,NaN,Scopus,2-s2.0-85213079490
1,Geney E.R.; Vázquez-Miraz P.,"Geney, Elías Rafael (57427876200); Vázquez-Mir...",57427876200; 57196040759,Interpersonal values associated with unfaithfu...,2025,Revista de Psicologia (Peru),43,1,NaN,438,459,21.0,0,10.18800/psico.202501.015,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,All Open Access; Gold Open Access,Scopus,2-s2.0-85212831235
2,Medina-Reyes M.F.; Fajardo-Cuadro J.G.; Martín...,"Medina-Reyes, María Fernanda (57221229836); Fa...",57221229836; 56581610900; 26325154200,DRIVING THE DEVELOPMENT OF ENERGY COMMUNITIES ...,2025,Habitat Sustentable,15,1,NaN,10,19,9.0,0,10.22320/07190700.2025.15.01.01,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,NaN,Scopus,2-s2.0-105010266217
3,Pérez-Morón J.M.; García Alonso R.; Thoene U.,"Pérez-Morón, James Manuel (57322375300); Garcí...",57322375300; 57215572817; 56766193900,Looking back to move forward: shedding light o...,2024,New England Journal of Entrepreneurship,27,2,NaN,152,172,20.0,7,10.1108/NEJE-10-2023-0088,https://www.scopus.com/inward/record.uri?eid=2...,Review,Final,All Open Access; Gold Open Access,Scopus,2-s2.0-85201694426
4,Hernandez-Fernandez J.; Herrera Zabala J.E.; M...,"Hernandez-Fernandez, Joaquin (57210432772); He...",57210432772; 59387631800; 36800050600,"Applied Investigation of Methyl, Ethyl, Propyl...",2024,Polymers,16,20,2851,NaN,NaN,NaN,2,10.3390/polym16202851,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,All Open Access; Gold Open Access,Scopus,2-s2.0-85207660911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,Ortiz O.O.; Pasqualino J.; Castells F.,"Ortiz, O.O. (24436854200); Pasqualino, J. (146...",24436854200; 14622047600; 7003612213,Environmental assessment based on life cycle a...,2010,Afinidad,67,547,NaN,175,181,6.0,1,NaN,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,NaN,Scopus,2-s2.0-79953715946
1684,Romero L.A.; Millán M.S.; Pérez-Cabré E.,"Romero, Lenny A. (36142156300); Millán, María ...",36142156300; 7201466399; 8729551400,Optical implementation of multifocal programma...,2011,Journal of Physics: Conference Series,274,1,012050,NaN,NaN,NaN,4,10.1088/1742-6596/274/1/012050,https://www.scopus.com/inward/record.uri?eid=2...,Conference paper,Final,All Open Access; Gold Open Access; Green Open ...,Scopus,2-s2.0-79953739933
1685,Villa J.L.; Duque M.; Gauthier A.; Rakoto-Rava...,"Villa, J.L. (7005142049); Duque, M. (700486442...",7005142049; 7004864427; 7102084702; 6603389671,Supervision and optimal control of a class of ...,2003,IEEE International Conference on Emerging Tech...,2,January,1248693,177,180,3.0,5,10.1109/ETFA.2003.1248693,https://www.scopus.com/inward/record.uri?eid=2...,Conference paper,Final,NaN,Scopus,2-s2.0-79961012788
1686,Marrugo A.G.; Millán M.S.,"Marrugo, Andrés G. (24329839300); Millán, Marí...",24329839300; 7201466399,Optic disc segmentation in retinal images; [Se...,2010,Optica Pura y Aplicada,43,2,NaN,79,86,7.0,4,NaN,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,NaN,Scopus,2-s2.0-77954168286
1687,Pasqualino J.C.; Montané D.; Salvadó J.,"Pasqualino, Jorgelina C. (14622047600); Montan...",14622047600; 55990834800; 7004090328,Synergic effects of biodiesel in the biodegrad...,2006,Biomass and Bioenergy,30,10,NaN,874,879,5.0,155,10.1016/j.biombioe.2006.03.002,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,NaN,Scopus,2-s2.0-33748744608

In [46]:
# -----------------------------------------
# Upload Scimago Journal & Country Rank data
# -----------------------------------------

dataScimago = pd.read_csv(f'{path}/{filenameScimago}', delimiter=';')
dataScimago

,Rank,Sourceid,Title,Type,Issn,SJR,SJR Best Quartile,H index,Total Docs. (2024),Total Docs. (3years),...,Ref. / Doc.,%Female,Overton,SDG,Country,Region,Publisher,Coverage,Categories,Areas
0,1,28773,Ca-A Cancer Journal for Clinicians,journal,"15424863, 00079235","145,004",Q1,223,43,122,...,"62,88",-,4,37,United States,Northern America,John Wiley and Sons Inc,1950-2025,Hematology (Q1); Oncology (Q1),Medicine
1,2,19434,MMWR Recommendations and Reports,journal,"10575987, 15458601","41,754",Q1,155,6,15,...,"275,33",-,1,5,United States,Northern America,Centers for Disease Control and Prevention (CDC),1990-2024,Epidemiology (Q1); Health Information Manageme...,Environmental Science; Health Professions; Med...
2,3,20315,Nature Reviews Molecular Cell Biology,journal,"14710072, 14710080","37,353",Q1,531,125,337,...,"92,45",-,0,15,United Kingdom,Western Europe,Nature Research,2000-2025,Cell Biology (Q1); Molecular Biology (Q1),"Biochemistry, Genetics and Molecular Biology"
3,4,29431,Quarterly Journal of Economics,journal,"00335533, 15314650","35,995",Q1,322,48,143,...,"69,79",-,35,27,United Kingdom,Western Europe,Oxford University Press,1886-2025,Economics and Econometrics (Q1),"Economics, Econometrics and Finance"
4,5,20425,Nature Reviews Drug Discovery,journal,"14741784, 14741776","30,506",Q1,412,247,718,...,"35,66",-,1,58,United Kingdom,Western Europe,Nature Research,2002-2025,Drug Discovery (Q1); Medicine (miscellaneous) ...,"Medicine; Pharmacology, Toxicology and Pharmac..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31131,31132,145515,Waves in Random and Complex Media (discontinued),journal,"17455049, 17455030",NaN,-,54,308,1068,...,"49,05",-,0,20,United Kingdom,Western Europe,Taylor and Francis Ltd.,2005-2024,Engineering (miscellaneous); Physics and Astro...,Engineering; Physics and Astronomy
31132,31133,21101174249,Word and Music Studies,book series,15660958,NaN,-,8,16,21,...,"79,44",-,0,0,Netherlands,Western Europe,Brill: Rodopi,"1999-2001, 2004-2006, 2008, 2010-2011, 2014-20...",Arts and Humanities (miscellaneous); Literatur...,Arts and Humanities
31133,31134,18033,"World Dredging, Mining and Construction",trade journal,10450343,NaN,-,3,2,32,...,"0,00",-,0,1,United States,Northern America,Placer Management Corp.,"1979, 1988-2024",Building and Construction; Ocean Engineering; ...,Earth and Planetary Sciences; Engineering
31134,31135,21100898632,World Scientific-Now Publishers Series in Busi...,book series,22513442,NaN,-,3,9,22,...,"31,33",-,0,0,Singapore,Asiatic Region,World Scientific,"2018-2020, 2023-2024","Business, Management and Accounting (miscellan...","Business, Management and Accounting"
31135,31136,18200156701,Zeitschrift Kunststofftechnik/Journal of Plast...,journal,18642217,NaN,-,10,20,0,...,"18,20",-,0,9,Germany,Western Europe,Walter de Gruyter GmbH,"2005-2020, 2024",Polymers and Plastics,Materials Science

In [47]:
def norm_col(s: pd.Series) -> pd.Series:
    """
    Normalize a text column for robust joining/matching.

    The transformation applies:
    1) Cast to string.
    2) Remove diacritics (NFKD → ASCII).
    3) Lowercase, collapse internal whitespace, and strip ends.
    4) Harmonize common symbols: '&' → 'and', various dashes → '-'.

    Parameters
    ----------
    s : pandas.Series
        Input series with text values (e.g., journal titles).

    Returns
    -------
    pandas.Series
        Normalized text suitable to be used as a join key.

    Examples
    --------
    >>> import pandas as pd
    >>> norm_col(pd.Series([' Energy & Power — Journal  ']))[0]
    'energy and power - journal'
    """
    # Ensure all values are strings (prevents issues with NaN, numbers, etc.).
    s = s.astype(str)

    # Remove diacritics by decomposing Unicode (NFKD) and dropping non-ASCII
    # marks. Example: "Información" → "Informacion".
    s = s.apply(
        lambda x: unicodedata.normalize("NFKD", x)
        .encode("ascii", "ignore")
        .decode("ascii")
    )

    # Normalize casing and spacing:
    # - lowercase all characters
    # - collapse any run of whitespace into a single space
    # - trim leading/trailing spaces
    s = (
        s.str.lower()
         .str.replace(r"\s+", " ", regex=True)
         .str.strip()
    )

    # Harmonize frequently inconsistent symbols across sources:
    # - replace '&' with the word 'and'
    # - standardize different dash characters to a simple hyphen
    s = (
        s.str.replace("&", "and")
         .str.replace(r"[-–—]", "-", regex=True)
    )

    return s

In [48]:
# -----------------------------------------
# Merge Scopus and Scimago data → only add SJR Best Quartile to Scopus records
# -----------------------------------------

# Copiamos los df para no modificar los originales
scopus = dataScopus.copy()
scimago = dataScimago.copy()

# Claves normalizadas
scopus['__key'] = norm_col(scopus['Source title'])
scimago['__key'] = norm_col(scimago['Title'])

# Eliminar Duplicados en Scimago (queda uno por cada título)
quartile_rank = {'Q1': 1, 'Q2': 2, 'Q3': 3, 'Q4': 4}
scimago['__rank'] = scimago['SJR Best Quartile'].map(quartile_rank)
scimago_values = (
    scimago.sort_values('__rank').
    drop_duplicates(subset='__key', keep='first').
    drop(columns='__rank')
)

# Merge (left join)
merge = scopus.merge(
    scimago_values[['__key', 'SJR Best Quartile']],
    on='__key',
    how='left',
) 

# df Original: 
dataScopus['SJR Best Quartile'] = merge['SJR Best Quartile'].values
dataScopus.head(1)

,Authors,Author full names,Author(s) ID,Title,Year,Source title,Volume,Issue,Art. No.,Page start,...,Page count,Cited by,DOI,Link,Document Type,Publication Stage,Open Access,Source,EID,SJR Best Quartile
0,Herrera-Acevedo D.D.; Sierra-Porta D.,"Herrera-Acevedo, D.D. (59278790000); Sierra-Po...",59278790000; 57191333650,Network structure and urban mobility sustainab...,2025,Sustainable Cities and Society,119,NaN,106076,NaN,...,NaN,3,10.1016/j.scs.2024.106076,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,NaN,Scopus,2-s2.0-85213079490,Q1

In [ ]:
def explode_and_clean(
    df: pd.DataFrame,
    rename_map: Dict[str, str],
    explode_cols: List[str],
    sep: str = ";"
) -> pd.DataFrame:
    """
    Split and explode string columns, keep only the columns defined in
    `rename_map`, and rename them in the output.

    Parameters
    ----------
    df : pd.DataFrame
        Input DataFrame containing the data to process.
    rename_map : dict
        Mapping from original column names (keys) to new names (values).
        Only these columns are retained in the output.
    explode_cols : List[str]
        List of column names to be split by `sep` and exploded.
    sep : str, optional
        Delimiter used to split the string values in `explode_cols`.
        Default is ';'.

    Returns
    -------
    pd.DataFrame
        Exploded DataFrame containing only the renamed columns.
    """

    # Copy relevant columns
    d = df[rename_map.keys()].copy()

    # Split and explode specified columns
    d[explode_cols] = d[explode_cols].apply(
        lambda col: col.str.split(sep)
    )

    d = d.explode(column=explode_cols, ignore_index=True)
    
    # Rename columns
    d.rename(columns=rename_map, inplace=True)
    
    return d

In [ ]:
## ------------------------------------------------------------------------------------------------------------------------
## This block generates a cleaned DataFrame containing all publications with details 
## such as publication type, quartile, etc.
## ------------------------------------------------------------------------------------------------------------------------
dict_rename = {
    "Author(s) ID": "author_id",
    "Author full names": "author_name",
    "Year": "year",
    "Cited by": "citations",
    "Title": "publication",
    "Source title": "journal",
    "Volume": "volume",
    "Issue": "issue",
    "DOI": "doi",
    "Document Type": "document_type",
    "SJR Best Quartile": "quartile"
}

auth_df = explode_and_clean(
    df = dataScopus,
    rename_map = dict_rename,
    explode_cols = ["Author(s) ID", "Author full names"],
    sep = ";"
)

In [ ]:
auth_df

,author_id,author_name,year,citations,publication,journal,volume,issue,doi,document_type,quartile
0,59278790000,"Herrera-Acevedo, D.D. (59278790000)",2025,3,Network structure and urban mobility sustainab...,Sustainable Cities and Society,119,NaN,10.1016/j.scs.2024.106076,Article,Q1
1,57191333650,"Sierra-Porta, D. (57191333650)",2025,3,Network structure and urban mobility sustainab...,Sustainable Cities and Society,119,NaN,10.1016/j.scs.2024.106076,Article,Q1
2,57427876200,"Geney, Elías Rafael (57427876200)",2025,0,Interpersonal values associated with unfaithfu...,Revista de Psicologia (Peru),43,1,10.18800/psico.202501.015,Article,Q3
3,57196040759,"Vázquez-Miraz, Pedro (57196040759)",2025,0,Interpersonal values associated with unfaithfu...,Revista de Psicologia (Peru),43,1,10.18800/psico.202501.015,Article,Q3
4,57221229836,"Medina-Reyes, María Fernanda (57221229836)",2025,0,DRIVING THE DEVELOPMENT OF ENERGY COMMUNITIES ...,Habitat Sustentable,15,1,10.22320/07190700.2025.15.01.01,Article,Q3
...,...,...,...,...,...,...,...,...,...,...,...
7315,24329839300,"Marrugo, Andrés G. (24329839300)",2010,4,Optic disc segmentation in retinal images; [Se...,Optica Pura y Aplicada,43,2,NaN,Article,Q4
7316,7201466399,"Millán, María S. (7201466399)",2010,4,Optic disc segmentation in retinal images; [Se...,Optica Pura y Aplicada,43,2,NaN,Article,Q4
7317,14622047600,"Pasqualino, Jorgelina C. (14622047600)",2006,155,Synergic effects of biodiesel in the biodegrad...,Biomass and Bioenergy,30,10,10.1016/j.biombioe.2006.03.002,Article,Q1
7318,55990834800,"Montané, Daniel (55990834800)",2006,155,Synergic effects of biodiesel in the biodegrad...,Biomass and Bioenergy,30,10,10.1016/j.biombioe.2006.03.002,Article,Q1
7319,7004090328,"Salvadó, Joan (7004090328)",2006,155,Synergic effects of biodiesel in the biodegrad...,Biomass and Bioenergy,30,10,10.1016/j.biombioe.2006.03.002,Article,Q1

In [ ]:
# ------------------------------------------
# Get h-index and h5yr-index for each author
# ------------------------------------------

def h_index_from_citations(citations: Iterable[int]) -> int:
    """
    Compute the h-index from a collection of citation counts.

    Parameters
    ----------
    citations : Iterable[int]
        Iterable with the number of citations for each publication.

    Returns
    -------
    int
        The h-index value. Defined as the maximum number h such that
        there are at least h publications with >= h citations.
    """
    # Remove NaN values, ensure non-negative integers
    values = [max(0, int(x)) for x in citations if pd.notna(x)]
    values.sort(reverse=True)

    # Count how many publications satisfy c >= position (1-based)
    return sum(c >= i + 1 for i, c in enumerate(values))


def h_index_author(
    auth_df: pd.DataFrame,
    author_id: str,
    min_year: int | None = None,
    max_year: int | None = None
) -> int:
    """
    Compute the h-index for a specific author within an optional year range.

    Parameters
    ----------
    auth_df : pd.DataFrame
        DataFrame with at least the columns:
        - 'author_id'
        - 'year'
        - 'citations'
    author_id : str
        Identifier of the author for whom the h-index is calculated.
    min_year : int, optional
        Minimum publication year to include.
    max_year : int, optional
        Maximum publication year to include.

    Returns
    -------
    int
        The h-index value for the given author and year range.
    """
    sub = auth_df[auth_df["author_id"].astype(str) == str(author_id)]

    if min_year is not None:
        sub = sub[sub["year"] >= min_year]
    if max_year is not None:
        sub = sub[sub["year"] <= max_year]

    return h_index_from_citations(sub["citations"])


def get_list_year(y_max: int, y_min: int) -> List[int]:
    """
    Generate a list of years from y_max down to y_min (inclusive).

    Parameters
    ----------
    y_min : int
        The minimum year in the list.
    y_max : int
        The maximum year in the list.

    Returns
    -------
    List[int]
        A list of years in descending order from y_max to y_min.
    """
    return list(range(y_max, y_min - 1, -1))

In [ ]:
# ------------------------------------------
# Build per-author counts (Q1–Q4/SQ) by year and keep all authors
# ------------------------------------------

# Años objetivo (de YEAR hacia YEAR-3, ambos incluidos)
years = get_list_year(YEAR, YEAR - 3)

# Tabla “maestra” de autores: garantiza 1 fila por author_id
# (resuelve posibles variaciones de nombre tomando el primero)
all_authors = (
    auth_df.groupby("author_id")["author_name"]
           .first()
           .reset_index()
)

# Filtramos solo las publicaciones dentro del rango de años deseado
df_filtered = auth_df[auth_df["year"].isin(years)]

# Conteo de publicaciones por autor × año × cuartil
counts = (
    df_filtered.groupby(["author_id", "year", "quartile"])
               .size()
               .reset_index(name="n")
)

# Pivot: una fila por autor y columnas por (año, cuartil)
# Se ordena año desc y cuartil asc; se llenan vacíos con 0
pivot = counts.pivot_table(
    index="author_id",
    columns=["year", "quartile"],
    values="n",
    fill_value=0
).sort_index(axis=1, level=[0, 1], ascending=[False, True]).reset_index()

# Aplanar nombres de columnas: p. ej., q1_2025, q2_2024, ...
# (si hay '-', lo rotulamos como 'sq' en el nombre de la columna)
pivot.columns = [
    f"{q.lower().replace('-', 'sq')}_{y}" if isinstance(y, int) else "author_id"
    for y, q in pivot.columns
]

# Unimos con la lista completa de autores para no “perder” a nadie
# (autores sin publicaciones en el rango quedarán con ceros)
pivot = pivot.merge(all_authors, on="author_id", how="outer").fillna(0)

# Reordenamos: primero id y nombre, luego las métricas
cols = ["author_id", "author_name"] + [c for c in pivot.columns if c not in ["author_id", "author_name"]]
pivot = pivot[cols]

In [ ]:
# ------------------------------------------
# Get h-index and h5yr-index for each author, then merge with per-year quartile counts
# ------------------------------------------

# h-index total (todas las publicaciones)
h = (
    auth_df.groupby("author_id")["citations"]
           .apply(h_index_from_citations)
           .reset_index(name="H-index")
)

# h-index últimos 5 años
h5 = (
    auth_df[auth_df["year"].between(YEAR - 5, YEAR)]
          .groupby("author_id")["citations"]
          .apply(h_index_from_citations)
          .reset_index(name="H5yr-index")
)

# ---------------------------
# Juntar todo (versión ordenada y segura)
# - Partimos de `pivot` porque ya contiene a TODOS los autores (id+nombre+cuentas por año/cuartil)
# - Unimos h y h5 por author_id (LEFT para no perder autores del pivot)
# - Rellenamos solo h/h5 con 0 (evita poner 0 en author_name u otras columnas)
# - Reordenamos columnas finales
# ---------------------------
metrics = (
    pivot
    .merge(h,  on="author_id", how="left")
    .merge(h5, on="author_id", how="left")
)

# Solo H/H5: NaN → 0 (opcional: castear a enteros)
metrics[["H-index", "H5yr-index"]] = metrics[["H-index", "H5yr-index"]].fillna(0)  # .astype("Int64") si quieres enteros con NA

# Orden de columnas: id, nombre, H, H5, luego el resto de métricas
cols = ["author_id", "author_name", "H-index", "H5yr-index"]
metrics = metrics[cols + [c for c in metrics.columns if c not in cols]]
metrics

,author_id,author_name,H-index,H5yr-index,sq_2025,q1_2025,q2_2025,q3_2025,q4_2025,sq_2024,...,sq_2023,q1_2023,q2_2023,q3_2023,q4_2023,sq_2022,q1_2022,q2_2022,q3_2022,q4_2022
0,10641350800,"Parkinson, D. (10641350800)",1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11338989900,"David Sr., E. (11338989900)",1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12244137500,"Gulisano, A.M. (12244137500)",0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12645152000,"McKinley, Javier Roldán (12645152000)",1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,12761281900,"Benitez, José Luis (12761281900)",1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2943,9639625300,"Magaña, Miguel (9639625300)",1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2944,9736353600,"Olivero-Verbel, Jesús (9736353600)",5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2945,9743228300,"Leborgne, Roberto (9743228300)",1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2946,9840675300,"Quiñones-Bolaños, Edgar Eduardo (9840675300)",2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2947,9943212600,"Bovolo, Francesca (9943212600)",11,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0